<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | LAVAGE-CSTECH
            {% endblock %}
        </title>
        {% block stylesheets %}
            {# bootstrap #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {# custom #}
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="//background-image: url('build1/img/Car-wash1.jpg');background-size:cover; ">
    

                    {% if is_granted('ROLE_USER') %}                        
                        {% include 'parties/header.html.twig'%}        
                        {% include 'parties/menuM.html.twig'%}
                        {% include 'parties/footer.html.twig'%}                        
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}                        
                        {% include 'parties/header.html.twig'%}        
                        {% include 'parties/menuA.html.twig'%}
                        {% include 'parties/footer.html.twig'%}
                    {% endif %}
               

        {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% if app.user %} 
            <div class="container text-center" style="padding-top:20%; padding-bottom:20%; height:100%; width:100%;">
                <h1 style="color:black; font-size:5em; font-weight:bold;">BIENVENUE CHEZ LAVAGE CSTECH</h1>
            </div>
        {% else %}            
        <div class="container">
            {% block body %} {% endblock %}
        </div>
        {% endif %}

        {% block footer %}
            <!--footer id="footer" class="bck1 border-top">
                <div class="container">
                    <h4>Footer</h4>
                </div>
            </footer-->
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>