{% extends 'base1.html.twig' %}

{% block title %}LavagePrestation index{% endblock %}

{% block body %}
<!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-sm-12">
            <section class="panel">
              <header class="panel-heading">
                

    <h1>Voir en detail une prestation</h1>
              </header>
              <div class="panel-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ lavage_prestation.id }}</td>
            </tr>
            <tr>
                <th>Libelle de la prestation</th>
                <td>{{ lavage_prestation.libelle }}</td>
            </tr>
            <tr>
                <th>Prix unitaire</th>
                <td>{{ lavage_prestation.prix }}</td>
            </tr>
            <tr>
                <th>Date d'enregistrement</th>
                <td>{{ lavage_prestation.date ? lavage_prestation.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="{{ path('lavage_prestation_index') }}" style="font-size:16px; color:red;">Retour a la liste</a>

    <!--a href="{{ path('lavage_prestation_edit', {'id': lavage_prestation.id}) }}">edit</a-->

    </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
{% endblock %}
