{% extends 'base1.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-sm-12">
            <section class="panel">
              <header class="panel-heading">
                

    <h1>Voir en detail un utilisateur</h1>
              </header>
              <div class="panel-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email de l'utilisateur</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Mot de passe crypte</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Role de l'utilisateur</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a href="{{ path('user_index') }}" style="font-size:16px; color:red;">Retour a la liste</a>

    <!--a href="{{ path('user_edit', {'id': user.id}) }}">edit</a-->

    </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
{% endblock %}
